.card {
	width: 400px;
	height: 560px;

	padding: 28px;

	border-radius: 28px;


	box-shadow: 16px 16px 16px 0px #00000040;
}


.card-img {
    max-width: 344px;
    height: 284px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
	border-radius: 28px;
    border: 2px solid #727272;
}